<% layout('layouts/boilerplate') %>
<div class="row">
	<div class="col-6 offset-3">
		<h1>Edit Book</h1>
		<form action="/books/<%= book._id %>?_method=PATCH" method="POST">
			<!--
        /**
         * The inputs below will add a property to an object called "book" 
        */ 
      -->
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					id="title"
					name="book[title]"
					placeholder="Wizard Judo"
					value="<%= book.title %>"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="author">Author</label>
				<input
					class="form-control"
					type="text"
					id="author"
					name="book[author]"
					placeholder="Gigono Kamus"
					value="<%= book.author %>"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="subject">Subject</label>
				<input
					class="form-control"
					type="text"
					id="subject"
					name="book[subject]"
					placeholder="Wizard Sports"
					value="<%= book.subject %>"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="isbn">ISBN</label>
				<input
					class="form-control"
					type="text"
					id="isbn"
					name="book[isbn]"
					placeholder="123456789-x"
					value="<%= book.isbn %>"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="publishingDate">Publishing Date</label>
				<input
					class="form-control"
					type="text"
					id="publishing_date"
					name="book[publishingDate]"
					placeholder="13/08/1882"
					value="<%= book.publishingDate %>"
					readonly
				/>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Save</button>
			</div>
		</form>
		<footer>
			<a href="/books/<%= book._id %>">Back to show page</a>
		</footer>
	</div>
</div>
