<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>This is the INDEX page</h1>
    <a href="/books/new">New Book</a>
    <p>Total # books: <%= booksList.length %></p>
    <ul>
      <% for(let book of booksList) { %>
      <li>
        <a href="/books/<%= book._id%>"><p><%= book.title %></p></a>
        <p><%= book.author %></p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
